header h1{
    text-align: center;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 0.5fr 4fr 1fr;

    grid-template-areas: 
    "header header header header"
    "navbar navbar navbar navbar "
    "main main aside aside"
    "footer footer footer footer ";
}


.header {
    grid-area: header;
    background-image: url(/assets/blue.jpg);
    background-size: contain;
}



.navbar {
    grid-area: navbar;
    background-color:   rgba(124, 184, 233, 0);
}

.main {
    grid-area: main;
    background-color: rgb(135, 184, 224);
}

.main img{
    width: 400px;
}

.aside {
    grid-area: aside;
    background-color:rgb(197, 227, 252);
    padding-left: 10px;
    padding-right: 10px;
}
.aside img{
    width: 700px;
    border: 10px;


}

.footer {
    grid-area: footer;
    background-color: rgb(194, 219, 240);
    border: 2px solid rgb(136, 136, 233);
}

.navbar ul {
    list-style-type: none;
}
.navbar a{
    color:  rgb(206, 208, 235);
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color:   rgb(145, 194, 235);
    transition: 0.5s;
}

.navbar li{
    float: left;
}


