header h1{
    text-align: center;
}
.navbar ul {
    list-style-type: none;
    background-color: rgb(206, 208, 235);
    padding: 0;
    margin: 0;
    grid-template-columns: 10px 1fr 2fr 10px;
    grid-template-rows: 1fr 3fr 1fr;

    grid-template-areas: 
    ". header header . "
    ".nav main ."
    ".footer footer .";

    overflow:hidden ;


}


.navbar a{
    color:  rgb(98, 106, 228);
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(137, 141, 219);
    transition: 0.5s;
}

.navbar li{
    float: left;
}

.main{
    padding: 9vh;
}


