
header h1 {
    text-align: center;
}


.navbar ul {
    list-style-type: none;
    background-color: rgb(206, 208, 235);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar a {
    color: rgb(98, 106, 228);
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(137, 141, 219);
    transition: 0.5s;
}

.content {
    display: flex;
    gap: 20px; 
    padding: 20px;
}


main {
    flex: 3;
    background-color: #f0f0ff;
    padding: 20px;
}


aside {
    flex: 1;
    background-color: #e0e0f5;
    padding:20px;
}
img{
    width: 400px;
    margin: 50px 50px 50px 50px;
}